<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="form-container">
    <!-- Title Input -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Add title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <!-- Date and Time Inputs -->
    <div class="datetime-container">
      <div>
        <!-- Start Date -->
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate">
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <!-- Start Time -->
        <mat-form-field appearance="fill">
          <mat-label>Start Time</mat-label>
          <input matInput formControlName="startTime" [matTimepicker]="startTimepicker">
          <mat-timepicker #startTimepicker/>
          <mat-timepicker-toggle [for]="startTimepicker" matSuffix/>
        </mat-form-field>
      </div>
      <div>
        <!-- End Time -->
        <mat-form-field appearance="fill">
          <mat-label>End Time</mat-label>
          <input matInput formControlName="endTime" [matTimepicker]="endTimepicker">
          <mat-timepicker #endTimepicker/>
          <mat-timepicker-toggle [for]="endTimepicker" matSuffix/>
        </mat-form-field>
        <!-- End Date -->
        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate">
          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <button mat-flat-button type="submit">Save</button>
    <button *ngIf="appointmentId()" mat-button (click)="deleteAppointment()">Delete</button>
  </div>
</form>
